@using BlazorECommerce.Client.Services.CompanyService;
@using MudBlazor
@using MudBlazor.Utilities;
@using Microsoft.AspNetCore.Components
@inject ICompanyService CompanyService
@inject IJSRuntime JS;


<MudThemeProvider Theme="@this.theme" />
@if (isLoading)
{
    <MudProgressCircular Indeterminate="true" Color="Color.Primary" />
}
else
{
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="routeData" DefaultLayout="typeof(Layout)" />
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
        <NotFound>
            <LayoutView Layout="typeof(Layout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
}

@code {
    private bool isLoading = true;
    public MudTheme theme { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadThemeAsync();
    }

    private async Task LoadThemeAsync()
    {
        try
        {
            await CompanyService.GetCompany();
            await JS.InvokeVoidAsync("applyTheme", CompanyService.Company.PrimaryColor.ToLower());
            theme = new MudTheme()
                {
                    Typography = new Typography()
                    {
                        Default = new Default()
                        {
                            FontFamily = new[] { "Lato", "sans-serif", "Playfair Display" },
                            FontSize = "67.5%",
                            LineHeight = 1,
                            FontWeight = 400
                        },
                    },
                    Palette = new Palette
                    {
                        Primary = "#74c69dff"
                    }
                };
        }
        catch (Exception ex)
        {
            // Handle exceptions as needed
            Console.WriteLine($"Error loading theme: {ex.Message}");
        }
        finally
        {
            isLoading = false;
            StateHasChanged();
        }
    }
}