@page "/"

@inject IProductService ProductService
@inject IJSRuntime JS


<PageTitle>Book Nook</PageTitle>
<div>
    @if (SearchText == null && CategoryUrl == null)
    {
        <HeroSection></HeroSection>
        <div class="container">
            <FeaturedCategories>

            </FeaturedCategories>
            <NewReleaseSection></NewReleaseSection>
        </div>

    }
    else
    {
        <ProductList></ProductList>
    }
</div>



@code{
    [Parameter]
    public string? CategoryUrl { get; set; } = null;

    [Parameter]
    public string? SearchText { get; set; } = null;

    [Parameter]
    public int Page { get; set; } = 1;

    protected override async Task OnParametersSetAsync()
    {
        if(SearchText != null)
        {
            await ProductService.SearchProducts(SearchText, Page);
        } else
        {
            await ProductService.GetProducts(CategoryUrl);
        }
    }

}
