.media-img{
    max-height: 500px;
    max-width: 500px;
    border-radius: 6px;
    margin: 0 10px 10px 10px;
}

.media-wrap{
    text-align: center;
}

.media-img-wrapper{
    max-width: 500px;
    max-height: 500px;
    text-align: center;
}

.original-price{
    text-decoration: line-through;
}

.product-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    gap: 2rem;
}

.product-detail-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}

.product-info-container{
    margin: 1rem;
}

.product-preview-container {
    position: sticky;
    top: 5.2rem;
    align-self: baseline;
    border-right: 1px solid #eae8e4;
}

.form-select {
    border: solid 2px #404040;
}

.btn-cart {
    border-radius: 12px;
    border: solid 2px #404040;
    padding: 1rem 1.5rem;
}

.rating-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1.2rem;
    align-items: center;
    margin-bottom: 2.4rem;
}


    .rating-container,
    .rating-container-editable .stars {
        display: flex;
        gap: 0.6rem;
    }


        .rating-container .stars i,
        .rating-container-editable .stars i {
            cursor: pointer;
            font-size: 2rem;
            color: gold;
            margin-bottom: 1.2rem;
        }

        .rating-container-editable .stars i.bi-star {
            color: lightgray;
        }

.rating {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.rating:hover{
    transform: scale(1.05);
}

.rating-calculation{
    font-weight: 500;
    font-size: 2rem;
}

.rating-count{
    font-size: 1.6rem;
    font-weight: 200;
}

.product-author{
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 200;
}

.description > p {
    font-size: 1.4rem;
}

.border-bottom {
    border-bottom: 1px solid #eae8e4;
}



/*Smaller Desktops*/
@media(max-width: 84em) {
}

/*Landscape Tablets*/
@media(max-width: 75em) {
}

/*Tablets*/
@media(max-width: 59em) {
}

/*Smaller Tablets*/
@media(max-width: 44em) {
    .media-img{
        width: 80%
    }
}

/*Phones*/
@media(max-width: 34em) {
}
