.cart-btn {
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem 1.6rem;
    border-radius: 1rem;
    font-weight: 600;
    transition: all 0.3s;
    background-color: 
}
