.counter-link:visited,
.counter-link:link{
    text-decoration: none;
    color: #333333;
}

.counter-li{
    display: flex;
    color: white;
    border-radius: 5px;
    padding: 0.3rem 2.4rem;
    height: 100%;
}

.main-nav-list-link {
    height: 100%;
}

.oi-cart{
    color: #333333
}

.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.4rem;
    height: 100%;
}