@page "/featured-categories"
@using BlazorECommerce.Client.Services.ThemeService
@inject ICategoryService CategoryService
@inject NavigationManager NavigationManager
@inject IThemeService ThemeService

@if (isLoading)
{
    <p>Loading...</p>
}
else if (CategoryService?.FeaturedCategories == null || !CategoryService.FeaturedCategories.Any())
{
    <p>No featured categories available.</p>
}
else
{
    <div class="featured-categories">
        <div class="header">
            <h2>Featured Categories</h2>
            <div class="icon-link">
                <MudLink href="/all-categories" class="all-categories-link" Color="Color.Inherit">All Categories</MudLink>
                <MudIcon Icon="@Icons.Material.Filled.ChevronRight"></MudIcon>
            </div>
        </div>
        <div class="categories">
            @foreach (var featuredCategory in CategoryService.FeaturedCategories)
            {
                <MudCard Elevation="2">
                    <MudCardContent>
                        <MudIcon Icon="@featuredCategory.Icon" Title="@featuredCategory.Name"/>
                        <MudText>@featuredCategory.Name</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudLink>
                            Explore Now
                        </MudLink>
                    </MudCardActions>
                </MudCard>
            }
        </div>
    </div>
}

@code {
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        await LoadFeaturedCategories();
    }

    private async Task LoadFeaturedCategories()
    {
        try
        {
            await CategoryService.GetFeaturedCategories();
        }
        catch (Exception ex)
        {
            // Handle exceptions as needed, e.g., logging
        }
        finally
        {
            isLoading = false;
        }
    }

    private void NavigateToCategory(Category category)
    {
        if (category != null && !string.IsNullOrEmpty(category.Url))
        {
            NavigationManager.NavigateTo(category.Url);
        }
    }
}
