<div class="hero">
    <div class="hero-text-box">
        <h1 class="heading-primary">
            BookNook, a place for everyone to step into a tale!
        </h1>
        <p class="hero-description">
            At BookNook Haven, we believe every book has a story waiting to be told.
            Dive into our vast collection of bestsellers, hidden gems, and timeless classics. 
            Whether you’re seeking adventure, romance, knowledge, or inspiration, your next favorite book is just a click away.
        </p>
        <a href="#" class="btn btn--full">Start reading now</a>
    </div>

    <div class="hero-img-box">
        <img src="images/hero_image.jpg"
             class="hero-img"
             alt="lots of books stack over each other" />
    </div>
</div>
@code {

}
