@using BlazorECommerce.Client.Services.ThemeService;
@inject IThemeService ThemeService

<div class="hero">
    <div class="container">
        <div class="hero-grid">
            <div class="hero-description-container">
                <span class="pre-title">
                    NookBook Editors Choice
                </span>
                <h2 class="hero-description">
                    Featured Books of June
                </h2>
                <MudButton Style="@($"background-color:{ThemeService.theme.Palette.PrimaryDarken};")">
                    See More
                </MudButton>
            </div>
            <div class="hero-img-box">
                <img class="hero-img" src="/images/shiromani-kant-mo3FOTG62ao-unsplash.jpg" />

            </div>
        </div>
    </div>
</div>
@code {

}
