
<div class="hero">
    <div class="container">
        <div class="hero-grid">
            <div class="hero-description-container">
                <span class="pre-title">
                    NookBook Editors Choice
                </span>
                <h2 class="hero-description">
                    Featured Books of June
                </h2>
                <button class="mud-button" style="background-color: var(--accent-light);">
                    See More
                </button>
            </div>
            <div class="hero-img-box">
                <img class="hero-img" src="/images/shiromani-kant-mo3FOTG62ao-unsplash.jpg" />
            </div>
        </div>
    </div>
</div>
@code {

}
