@inject ICategoryService CategoryService
@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="main">
            <div class="sidebar @NavMenuCssClass">
                <h4>Browse by Category</h4>
                <i class="bi bi-x nav-icon" @onclick="ToggleNavMenu"></i>
                <ul class="sidebar-nav">
                    <li>
                        <span>
                            New
                        </span>
                    </li>

                    <li>
                        <span>
                            Trending
                        </span>
                    </li>

                    <li>
                        <span>
                            Sale
                        </span>
                    </li>
                </ul>
            </div>
            <div class="main-nav">
                <div class="nav-container">
                    <ul class="main-nav-list">
                        <li class="nav-element">
                            <button class="toggle-button" @onclick="ToggleNavMenu">
                                ☰
                            </button>
                        </li>

                        <li class="shop-heading nav-element">
                            <h1>
                                <a href="#" class="shop-heading-link">
                                    Book<span class="accent-text">Nook</span>
                                </a>

                            </h1>
                        </li>

                        <li class="right-nav nav-element">
                            <div class="right-nav-section">
                                <div class="nav-btn login-btn">
                                    Log in
                                </div>

                                <div class="nav-btn signin-btn">
                                    Sign In
                                </div>

                                <div class="nav-icon">
                                    <i class="bi bi-bag"></i>
                                </div>
                            </div>

                        </li>

                    </ul>
                </div>
            </div>

            <div class="subnav">
                <div class="nav-container">
                <ul class="sub-nav-list">
                    <li class="subnav-element">
                        <span>New</span>
                            <div class="menu-sub shadow">
                            <ul class="menu-list">
                                <h4>New</h4>
                                <li>
                                    New Arrivals this month
                                </li>
                                <li>
                                    Latest Releases
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="subnav-element">
                        <span>Trending</span>
                        <div class="menu-sub shadow">
                            <ul class="menu-list">
                                <h4>Trending</h4>
                                <li>
                                    Community Chosen
                                </li>
                                <li>
                                    Latest Trends
                                </li>
                                <li>
                                    Must Haves
                                </li>
                                <li>
                                    Most Popular
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="subnav-element">
                        <span>Sale</span>
                            <div class="menu-sub shadow">
                            <ul class="menu-list">
                                <h4>Sale</h4>
                                <li>
                                    Everything 50% off
                                </li>
                                <li>
                                    On Time
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="sub-nav-element search-element">
                        <Search></Search>
                    </li>
                </ul>
                </div>
            </div>


                <article>
                    @Body
                </article>
        </div>
            
    </main>
</div>

@code{
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "" : "sidebar-active";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        await CategoryService.GetCategories();
        collapseNavMenu = true;
    }
}
