@inject ICategoryService CategoryService
@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="main">
            <div class="sidebar @NavMenuCssClass">

                <nav class="flex-nav">
                    <div class="nav-item px-2">
                        <span class="sidebar-header">
                            Shop
                        </span>
                    </div>
                    <div class="nav-item px-2 flex-nav-item">
                        <i class="nav-icon bi bi-house"></i>
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            Home
                        </NavLink>
                    </div>
                    @foreach (var category in CategoryService.Categories)
                    {
                        <div class="nav-item px-2 flex-nav-item">
                            <i class="nav-icon @category.Icon"></i>
                            <NavLink class="nav-link" href="@category.Url">
                                @category.Name
                            </NavLink>
                        </div>
                    }
                </nav>
            </div>

            <div class="header">
                <div class="main-nav">
                    <ul class="main-nav-list">
                        <li class="nav-element">
                            <button class="toggle-button" @onclick="ToggleNavMenu">
                                ☰
                            </button>
                        </li>

                        <li class="shop-heading nav-element">
                            <h1>
                                <a href="#" class="shop-heading-link">
                                    BookNook
                                </a>
                               
                            </h1>
                        </li>

                        <li class="right-nav nav-element">
                            <div class="right-nav-section">
                                <Search></Search>
                                <div class="nav-btn login-btn">
                                    Log in
                                </div>

                                <div class="nav-btn signin-btn">
                                    Sign In
                                </div>
                            </div>
                            
                        </li>

                    </ul>
                </div>

                <article class="content px-2">
                    @Body
                </article>
            </div>
            </div>
            
    </main>
</div>

@code{
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapsed" : "expanded";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        await CategoryService.GetCategories();
        collapseNavMenu = true;
    }
}
