.page {
    width: 100%
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.content-area {
    width: 100%
}

/*Navigation*/

.header {
    display: flex;
    /*Height for sticky header*/
    height: 5.2rem;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}


.main-nav {
    width: 100%;
    height: 100%;
    padding: 1.2rem;
    color: #333;
    border-bottom: 0.5px solid #d1d5db;
}

.nav-container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.subnav {
    padding: 1.2rem;
    color: #333;
    border-bottom: 0.5px solid #d1d5db;
}


.main-nav-list {
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
}

.sub-nav-list {
    position: relative;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.4rem;
    padding: 0;
    margin-bottom: 0;
}

.menu-sub {
    position: absolute;
    left: 0;
    background-color: white;
    display: none;
    width: 100%;
    transition: all 0.3s;
    padding: 1.2rem 1.2rem;
    margin: 0;
    z-index: 999999;
    border-radius: 0 0 2.4rem 2.4rem;
}

.nav-element {
    flex: 1;
    display: flex;
    justify-content: center;
}

.subnav-element {
    display: inline-block;
    padding: 1.6rem 0;
}

.subnav-element:hover .menu-sub{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
}

.subnav-element > span{
    font-size: 1.5rem;
}

.search-element{
    position: absolute;
    right: 0;
}

.menu-list {
    list-style: none;
}

.menu-list > li{
    margin-top: 0.5rem;
}


.menu-list > li:hover{
    text-decoration: underline;
}

.nav-element-focus{
    justify-self: flex-end;
}

.sub-nav-element:last-child > li {
    margin-right: auto;
}

    .nav-element:last-child > div {
        margin-left: auto;
    }

    .nav-element:first-child > button{
        margin-right: auto;
    }



.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s;
}

.sidebar {
    display: none;
    position: absolute;
    left: 0;
    background-color: white;
    height: 100%;
    transition: all 0.3s;
    z-index: 999999;
}

    .sidebar > h4 {
        display: inline-block;
        margin: 2rem;
        font-size: 2.4rem;
        font-weight: 400;
        padding-bottom: 0.6rem;
        border-bottom: 2px solid #DDDDDD;
    }

.sidebar-active{
    display: block;
}

.sidebar-nav{
    list-style: none;
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1.2rem;
}

.sidebar-nav > li{
    text-decoration: none;
}

.sidebar-nav > li:hover{
    text-decoration: underline;
}



.navbar-toggler {
    color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-icon {
    align-self: center;
    font-size: 24px;
    margin: 0 12px;
}
.nav-item {
    display: flex;
    padding: 10px 20px;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    align-content: center;
}

.toggle-button {
    background: none;
    border: none;
    color: #333;
    font-size: 24px;
    cursor: pointer;
    margin: 10px;
    padding: 0;
    outline: none;
    align-self: center;
    display: none;
}

.nav-item ::deep a {
    color: #333;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item ::deep span {
    color: #222;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    font-weight: 700;
    font-size: 1.6rem;
}

.nav-item ::deep a.active {
    background-color: #e2e8f0;
    color: #333;
}

.nav-item ::deep a:hover {
    background-color: #e2e8f0;
    color: #333;
}

.flex-nav {
    margin-left: 1.4rem;
    margin-right: 1.4rem;
    display: flex;
    flex-direction: column;
    width: 100%
}

.center-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Ensures the center nav takes up remaining space */
}

.right-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.5rem;
}

.right-nav-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.5rem;
}

.nav-btn {
    padding: 0.8rem 1.8rem;
}

.signin-btn {
    background-color: #84cc16;
    border-radius: 12px;
    color: white;
}

.shop-heading-link {
    text-decoration: none;
    color: #333;
}


/*Smaller Desktops*/
@media(max-width: 84em){

}

/*Landscape Tablets*/
@media(max-width: 75em) {

}

/*Tablets*/
@media(max-width: 59em){

}

/*Smaller Tablets*/
@media(max-width: 44em){


    .toggle-button{
        display:block;
    }

    .sub-nav > *{
        display: none;
    }

    .sub-nav-list{
        display: none;
    }
}

/*Phones*/
@media(max-width: 34em) {

    .toggle-button {
        display: block;
    }
}