.page {
    width: 100%
}

.main{
    width: 100%;
    display: flex;
}

.content-area{
    width: 100%
}

/*Navigation*/

.header {
    display: flex;
    /*Height for sticky header*/
    height: 5.2rem;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}


.main-nav {
    width: 100%;
    height: 100%;
    margin: 1.2rem 2.8rem;
    border-bottom: 2px solid #DDDDDD;
}


.main-nav-list {
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.2rem;
}


.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s;
}


.sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    top: 0;
    left: 0;
    min-height: 100vh;
    background-color: #f8f9fa;
    overflow-x: hidden;
    transition: width 0.2s;
    z-index: 1000; /* Ensure it stays on top */
}

.navbar-toggler {
    color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-icon{
    align-self: center;
    font-size: 24px;
}

.nav-item {
    display: flex;
    padding: 10px 20px;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    align-content: center;
}

.toggle-button {
    background: none;
    border: none;
    color: #333;
    font-size: 24px;
    cursor: pointer;
    margin: 10px;
    padding: 0;
    outline: none;
    align-self: center;
}

.nav-item ::deep a {
    color: #333;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item ::deep span {
    color: #222;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    font-weight: 700;
    font-size: 1.6rem;
}

.nav-item ::deep a.active {
    background-color: #e2e8f0;
    color: #333;
}

.nav-item ::deep a:hover {
    background-color: #e2e8f0;
    color: #333;
}

.flex-nav {
    margin-left: 1.4rem;
    margin-right: 1.4rem;
    display: flex;
    flex-direction: column;
    width: 100%
}

.sidebar.collapsed .nav-item{
    display: none;
}

.sidebar.collapsed {
    width: 0px;
}

.sidebar.expanded{
    width: 150px;
}

.sidebar-header{
    margin: 1rem;
}

.right-nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.5rem;

}

.nav-btn {
    padding: 0.8rem 1.8rem;
}

.signin-btn {
    background-color: #404040;
    border-radius: 12px;
    color: white;
}
.shop-heading{
    position: absolute;
    left: 50%;
    transform: translate(-50%; 0);
}

.shop-heading-link{
    text-decoration: none;
    color: black;
}


